<div class="container ">
  <div class="row">
    <div class="col-md-6 col-12 maindiv" style="margin: 0px;padding: 0px">
      <div class="bd-example">
        <div id="carouselExampleCaptions1" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions1" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="3"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="4"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="5"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="6"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="7"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="8"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="9"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="10"></li>
            <li data-target="#carouselExampleCaptions1" data-slide-to="11"></li>
          </ol>
          <div class="carousel-inner fslidediv">
            <div class="carousel-item active" data-interval="1500">
              
              <img [src]="bigslide[0]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
               
              <div class="carousel-caption d-md-block seconddiv">
                <h5>{{bigslide[0].title.rendered}}</h5>
              </div>

            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[1]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[1].title.rendered}}</h5>

              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[2]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[2].title.rendered}}</h5>
              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[3]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[3].title.rendered}}</h5>
              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[4]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[4].title.rendered}}</h5>
              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[5]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[5].title.rendered}}</h5>
              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[6]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[6].title.rendered}}</h5>
              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[7]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[7].title.rendered}}</h5>
              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[8]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[8].title.rendered}}</h5>
              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[9]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[8].title.rendered}}</h5>
              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[10]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[8].title.rendered}}</h5>
              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="bigslide[11]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 fslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{bigslide[8].title.rendered}}</h5>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions1" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 weakdiv" style="margin: 0px;padding: 0px">
      <div class="bd-example">
        <div id="carouselExampleCaptions2" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions2" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions2" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions2" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner seconddiv">
            <div class="carousel-item active" data-interval="2500">
              <a [href]="sslide[0].link"></a>
              <img [src]="sslide[0]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                alt="...">

              <div class="carousel-caption d-md-block">
                <h5>{{sslide[0].title.rendered}}</h5>
              </div>

            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="fslide[1]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{sslide[1].title.rendered}}</h5>

              </div>
            </div>
            <div class="carousel-item" data-interval="2500">
              <img [src]="sslide[2]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{sslide[2].title.rendered}}</h5>

              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- ineer div start -->
      <div>
        <div> 
        
          <div class="bd-example">
            <div id="carouselExampleCaptions4" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions4" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions4" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions4" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner seconddiv">
                <div class="carousel-item active" data-interval="2500">
                  <img [src]="fslide[0]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                    alt="...">
    
                  <div class="carousel-caption d-md-block">
                    <h5>{{fslide[0].title.rendered}}</h5>
                  </div>
    
                </div>
                <div class="carousel-item" data-interval="2000">
                  <img [src]="fslide[1]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                    alt="...">
                  <div class="carousel-caption  d-md-block">
                    <h5>{{fslide[1].title.rendered}}</h5>
    
                  </div>
                </div>
                <div class="carousel-item" data-interval="2500">
                  <img [src]="fslide[2]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                    alt="...">
                  <div class="carousel-caption  d-md-block">
                    <h5>{{fslide[2].title.rendered}}</h5>
    
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleCaptions4" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleCaptions4" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
  
        </div>

      </div>
<!-- ineer div close -->
    </div>
    <div class="col-md-3 col-6 weakdiv" style="margin: 0px;padding: 0px">
      <div class="bd-example">
        <div id="carouselExampleCaptions3" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions3" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions3" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions3" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner thirddiv">
            <div class="carousel-item active" data-interval="2000">
              <img [src]="tslide[0]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                alt="...">

              <div class="carousel-caption d-md-block">
                <h5>{{tslide[0].title.rendered}}</h5>
              </div>

            </div>
            <div class="carousel-item" data-interval="2500">
              <img [src]="tslide[1]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{tslide[1].title.rendered}}</h5>

              </div>
            </div>
            <div class="carousel-item" data-interval="1500">
              <img [src]="tslide[2]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                alt="...">
              <div class="carousel-caption  d-md-block">
                <h5>{{tslide[2].title.rendered}}</h5>

              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
        <!-- ineer div start -->
      <div> 
        
        <div class="bd-example">
          <div id="carouselExampleCaptions5" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions5" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions5" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions5" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner seconddiv">
              <div class="carousel-item active" data-interval="3000">
                <img [src]="foslide[0]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                  alt="...">
  
                <div class="carousel-caption d-md-block">
                  <h5>{{foslide[0].title.rendered}}</h5>
                </div>
  
              </div>
              <div class="carousel-item" data-interval="2200">
                <img [src]="foslide[1]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                  alt="...">
                <div class="carousel-caption  d-md-block">
                  <h5>{{foslide[1].title.rendered}}</h5>
  
                </div>
              </div>
              <div class="carousel-item" data-interval="1500">
                <img [src]="fslide[2]._embedded['wp:featuredmedia']['0'].source_url" class="d-block w-100 sslideimg"
                  alt="...">
                <div class="carousel-caption  d-md-block">
                  <h5>{{foslide[2].title.rendered}}</h5>
  
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions5" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions5" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

      </div>
      <!-- ineer div close -->
    </div>
    
  </div>
</div>